<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>634928160046-53jgbu4tjeithfphkoma0lia1n15l668.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634928160046-53jgbu4tjeithfphkoma0lia1n15l668</string>
	<key>API_KEY</key>
	<string>AIzaSyBtoPo0B62iGY4Z2i9IPzN2WqNEf0AklIk</string>
	<key>GCM_SENDER_ID</key>
	<string>634928160046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>omarhammad.bekam</string>
	<key>PROJECT_ID</key>
	<string>tajeer-ddd7b</string>
	<key>STORAGE_BUCKET</key>
	<string>tajeer-ddd7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634928160046:ios:89fef9bd27ec7d9a</string>
	<key>DATABASE_URL</key>
	<string>https://tajeer-ddd7b.firebaseio.com</string>
</dict>
</plist>